<!--The Login page --> 
    {% load static %}
    {% block content%}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title> Login Page </title>
    <div class="center-container">
        <div class="form-container">
          <form method="POST" action="">
            {% csrf_token %}
            <h2 class="form-h2">Login</h2>
            <div class="form-grouping">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"class="form-grouping" required>
            </div>

            <div class="form-grouping">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"class="form-grouping" required>
            </div>
            
            <input type="submit" value="Submit" id="form-input">
            <!-- Form fields for registration -->
            <p class="login-link">I don't have an account? <a href="{% url 'register'%}">Sign Up</a></p>
          </form>
        </div>
      </div>
      {% endblock  %}