.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    width: 40%;
    padding: 15px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }

  label {
    display: block;
    margin-bottom: 10px;
    color: #555;
    font-size: 17px;
  }
  
  .form-grouping[type="text"],
  .form-grouping[type="password"] 
{
    width: 75%;
    padding: 8px;
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  #form-input[type="submit"] {
    background-color: #223323;
    color: #fff;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  .login-link {
    text-align: center;
    margin-top: 5px;
  }
  

  