{% extends 'base.html' %}
{% load static %}
{% block title %} About Page {% endblock %}
       {% block content%}
                   <!-- Page Header Start -->
                   <div class="container py-5 px-2 bg-primary">
                       <div class="row py-5 px-4">
                           <div class="col-sm-6 text-center text-md-left">
                               <h1 class="mb-3 mb-md-0 text-white text-uppercase font-weight-bold">About Me</h1>
                           </div>
                           <div class="col-sm-6 text-center text-md-right">
                               <div class="d-inline-flex pt-2">
                                   <h4 class="m-0 text-white"><a class="text-white" href="{% url 'index' %}">Home</a></h4>
                                   <h4 class="m-0 text-white px-2">/</h4>
                                   <h4 class="m-0 text-white"><a class="text-white" href="{% url 'author_info' %}">Email</a></h4>
                               </div>
                           </div>
                       </div>
                   </div>
                   <!-- Page Header End -->
       
       
                   <!-- About Start -->
                   <div class="container bg-white pt-5">
                       <div class="row px-3 pb-5">
                           <div class="col-md-12">
                               <h2 class="mb-4 font-weight-bold">Software engineer and a Data analyst with years of experience in Python</h2>
                               <img class="img-fluid float-left w-50 mr-4 mb-3" src="{% static 'img/senwin.jpg' %}" alt="Image">
                               <p class="m-0"> Godwin Umosen is a highly skilled and passionate software engineer, known for their innovative mindset and exceptional problem-solving abilities. Born and raised in a family of technology enthusiasts, Godwin developed a keen interest in computers from an early age. Their insatiable curiosity about how software worked led them to embark on a journey that would ultimately shape their career as a software engineer.

                                Godwin dove headfirst into the world of software development. They honed their programming skills in various languages, from Python and JavaScript, mastering the art of writing efficient, robust, and maintainable code.
                                
                                Throughout their career,Godwin has been associated with several renowned tech companies and startups. Their unwavering commitment to delivering high-quality software solutions and their ability to collaborate seamlessly with cross-functional teams have earned them a reputation as a reliable and valuable team player.
                               </p>
                           </div>
                           <div class="col-md-12 pt-4">
                               <div class="d-flex flex-column skills">
                                   <div class="progress w-100 mb-4">
                                       <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Adaptability</div>
                                   </div>
                                   <div class="progress w-100 mb-4">
                                       <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">Research</div>
                                   </div>
                                   <div class="progress w-100">
                                       <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Editing</div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
                   <!-- About End -->
       


            {% endblock %}