
<html lang="en">
    <head>
        <meta charset="utf-8">  
        {% load static %}
        {% block title%}<title>Bloggy </title>{%endblock%}
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="senwin Website" name="keywords">
        <meta content="senwin" name="description">
        <!-- Favicon -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    
        <link href="{% static 'img/favicon.icon'%}" rel="icon">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:300;400;600;700;800&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css " rel="stylesheet">

    </head>
    <body>
        <div class="wrapper">
            <div class="sidebar">
                <div class="sidebar-text d-flex flex-column h-100 justify-content-center text-center">
                    <img class="mx-auto d-block w-75 bg-primary img-fluid rounded-circle mb-3 p-3" src="{% static 'img/senwin.jpg' %}" alt="Image">
                    <h3 class="font-weight-bold">Godwin Umosen</h3>
                    <p class="mb-4">
                        Dynamic Software Developer & Data Analyst highly motivated and competent to take up any challenging roles related to software 
                        programming languages like Python, JavaScript and other related software technologies .
                    </p>
                    <div class="d-flex justify-content-center mb-5">
                        <a class="btn btn-outline-primary mr-2" href="https://twitter.com/senwin_code?t=TPccCkT13K0OOXuRcxvAlg&s=09"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-primary mr-2" href="https://www.facebook.com/profile.php?id=100082160673596&mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-primary mr-2" href="https://www.linkedin.com/in/godwin-umosen568"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <a href="https://wa.me/2347016087680?text=Hi Godwin" class="btn btn-lg btn-block btn-primary">Hire Me</a>
                </div>
                
            </div>
        <div class="content">
            {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

                <!-- Navbar Start -->
                <div class="container p-0">
                    <nav class="navbar navbar-expand-lg bg-secondary navbar-dark">
                        <a href="" class="navbar-brand d-block d-lg-none">WinFolio</a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav m-auto">
                                <a href="{% url 'index' %}" class="nav-item nav-link active">Home</a>
                                <a href="{% url 'about_author' %}" class="nav-item nav-link active">About</a>
                                <a href="{% url 'author_info' %}" class="nav-item nav-link active">Contact</a>
                                <a href="{% url 'index' %}" class="nav-item nav-link active">Add Post</a>
                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle active" data-toggle="dropdown">Register</a>
                                    <div class="dropdown-menu">
                                        <a href="{% url 'register' %}" class="dropdown-item active">Sign Up</a>
                                        <a href="{% url 'new_user_login' %}" class="dropdown-item active">Login</a>
                                        <a href="{% url 'user_logout' %}" class="dropdown-item active">Logout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <!-- Navbar End -->

{% block content %}


{% endblock %}

<!-- main Javascript -->

<script src="{% static 'js/main.js'%}"></script>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'lib/easing/easing.min.js'%}"></script>
<script src="{% static 'lib/waypoints/waypoints.min.js'%}"></script>

<!-- Contact Javascript File -->
<script src="{% static 'mail/jqBootstrapValidation.min.js'%}"></script>
</body>
</html>
